# Работа с библиотекой Pandas

1. Загрузите набор данных из файла **car_data.csv** по примеру с лекции

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('car_data.csv')
df

2. Проведите анализ пропусков в данных. Удалите строки или столбцы, содержащие пропуски.

In [ ]:
df_na = df.dropna()
df_na

3. Вычислите средний доход клиентов, купивших автомобиль марки Toyota Camry.

In [ ]:
df_f1 = df_na[df_na['Company'] == "Toyota"]
df_f1 = df_f1[df_f1["Model"] == "Camry"]
print(f'{df_f1["Annual Income"].mean()}$')

4. Найдите топ 10 самых дорогих марок автомобилей за представленный период времени.

In [ ]:
df_f2 = df_na.groupby(['Company', "Model"]).agg({'Price ($)': 'mean'}).sort_values(by='Price ($)', ascending=False).head(10)
df_f2

5. Найдите среднюю стоимость автомобилей по типам кузова (Body Style), используя метод groupby.

In [ ]:
df_f3 = df_na.groupby(['Body Style']).agg({'Price ($)': 'mean'})
df_f3

6. Какие автомобили приобрели 10 клиентов с самым высоким доходом?

In [ ]:
df_f4 = df_na.sort_values(by='Annual Income', ascending=False).head(10)
df_f4 = df_f4[["Annual Income", "Company", "Model", "Price ($)"]]
df_f4

7. Какие автомобили приобрели 10 клиентов с самым низким доходом?

In [ ]:
df_f5 = df_na.sort_values(by='Annual Income', ascending=True).head(10)
df_f5 = df_f5[["Annual Income", "Company", "Model", "Price ($)"]]
df_f5

8. Создайте новый столбец, значения которого равны логарифму от величины дохода клиентов.

In [ ]:
df_f6 = df_na.copy()
df_f6["lg Annual Income"] = df_f6.copy()["Annual Income"].apply(lambda x: np.log(x))
df_f6